# The only parameter required here is the password for the non-privileged user.
# This file must have 600 permissions.
[client]
password="xxx_your_regular_db_user_password_xxx"

# *** No further editing needed after this line. ***

!include common.cnf
!include scripts/my-gen.cnf
